.button {
    background-color: var(--green);
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--title-font);
    color: white;
    box-sizing: border-box;
}



.dismiss {
    background-color: var(--red);
}

.warning {
    background-color: var(--yellow);
}

.button:focus {
    outline: 3px solid var(--focus);
}

.button + .button {
    margin-left: 5px;
}

.ghost {
    background-color: transparent;
    color: var(--green);
    border: 2px solid var(--green);
}

.ghost.dismiss {
    color: var(--red);
    border: 2px solid var(--red);
}

.ghost.warning {
    color: var(--yellow);
    border: 2px solid var(--yellow);
}