.navbar {
    display: flex;
    background-color: var(--lavender);
    margin: 10px;
    font-family: var(--title-font);
}

.navLink {
    padding: 10px 20px;
}

.navLink:hover {
    background-color: #f3d6df;
}