.todo {
    background-color: var(--lavender);
    border: 2px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.todoTitle {
    font-size: 1.2em;
    text-decoration: underline;
}

.todoContent {
    overflow-wrap: break-word;
}

.done {
    opacity: 0.5;
}

.done .todoTitle {
    text-decoration: line-through;
}