:root {
  --red: #A62639;
  --green: #96c7a6;
  --lavender: #F1E4E8;
  --yellow: #F5B841;
  --black: #242331;
  --gray: #bdbdbd;
  --focus: #b1ccd6;
  --title-font: 'PT Mono', monospace;
  --body-font: 'PT Serif', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

.content {
  margin: 0 10px 10px;
  padding: 20px;
  background-color: var(--lavender);
}

.todos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}